table {
  width: 100%;
  border-collapse: collapse;
}

.contenedor-tabla {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;          
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem;
  overflow-x: auto;
  max-height: 500px;
  overflow-y: auto;

}

th {
  padding: 0.75rem 0.5rem;
  background-color: #f5f5f5;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 0.6rem 0.5rem;
  border-bottom: 1px solid #ddd;
  font-size: 0.95rem;
}

tr:hover {
  background-color: #f2f2f2;
}

.contenedor-principal-lista-usuarios{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button{
  max-width: 130px;
}

.carga{
    justify-items: center;
    margin-top: 100px;
}

mat-radio-group{
  margin-left: 40px;
}

mat-form-field{
  max-width: 200px;
}
