<h2 mat-dialog-title>Perfil de Usuario</h2>
<mat-card class="card-entera" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{perfil?.email}}</mat-card-title>
    <mat-card-subtitle>Rol: {{perfil?.rol}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="contenedor-campos">
        <div >
            <mat-icon>assignment_ind</mat-icon>
        </div>
        <div class="campo-perfil">
            <span>Nombre: {{perfil?.nombre}}</span>
        </div>
    </div>  
    <div class="contenedor-campos">
        <div >
            <mat-icon>money</mat-icon>
        </div>
        <div class="campo-perfil">
            <span>Renta Mensual: $ {{perfil?.renta_mensual}}</span>
        </div>
    </div>
  </mat-card-content>
</mat-card>
