@if(booleanCarga){
  <div class="cuadro-carga">
    <div class="carga">
      <mat-spinner></mat-spinner>
    </div>
  </div>
}@else{
  <div class="cuadro-login">
  <mat-card appearance="outlined">
    <mat-card-header style="margin-bottom: 20px;">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="formulario-login" [formGroup]="form" (ngSubmit)="logear()">
        
        <div *ngIf="mensajesError.length > 0" class="errores-servidor">
          <div *ngFor="let error of mensajesError" class="mensaje-error"> 
            {{ error }}
          </div>
        </div>
        
        <mat-form-field appearance="outline" class="campos-rellenar">
          <mat-label>Email</mat-label>
          <input class="input-login" matInput type="email" formControlName="email" />
          <mat-error>{{ obtenerErrorEmail() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="campos-rellenar">
          <mat-label>Contraseña</mat-label>
          <input class="input-login" matInput type="password" formControlName="password" />
          <mat-error>{{ obtenerErrorPassword() }}</mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
}

